[submodule "googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/BOUT-dev"]
	path = external/BOUT-dev
	url = https://github.com/boutproject/BOUT-dev.git
	branch = fci-auto-with-debug
